@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
html{
    language: ru;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    background: #ffffff;
    & body{
        margin: 0 auto;
        padding: 0;
        & h1, h2, h3, h4, h5, h5, p, strong, span, li{
            color: #000;
            cursor: default;
        }
    }
}
img{
    width: inherit;
    height: inherit;
}
.container{
    margin: 0 auto;
    max-width: 1600px;
    padding: 50px 20px 0;
    overflow-x: hidden;
    &:nth-child(1){
        padding: 0 20px;
    }
}
.container-fluide{
    margin: 0 auto;
    max-width: 1776px;
    padding: 0 20px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
p{
    margin: 0;
}
.line{
    background: #FFF;
    width: 76px;
    height: 2px;
}
//
//*{
//    border: 1px solid red;
//}
.swiper-button-next{
    color: #EA7F00 !important;
}
.swiper-button-prev{
    color: #EA7F00 !important;
}

@media screen and (max-width: 1024px) {
    .container{
        max-width: 1024px;
    }
}
@media screen and (max-width: 768px) {
    .container{
        max-width: 768px;
    }
}
@media screen and (max-width: 425px) {
    .container{
        max-width: 425px;
    }
}
@media screen and (max-width: 390px) {
    .container{
        max-width: 390px;
    }
}
@media screen and (max-width: 340px) {
    .container{
        max-width: 340px;
    }
}
@media screen and (max-width: 320px) {
    .container{
        max-width: 320px;
    }
}